{% extends 'main/base.html' %}

{% block content %}

    <p>Boardgamer: {{ user }}</p>

    <p>Games:</p>
    
    <ul>
    {% for game in games %} 
        <li>
            <a href="{% url 'main:game' game.id %}">{{ game.name }}</a>
            <p>{{ game.description|linebreaks }}</p>
        </li>
    {% empty %}
        <li>You dont have any games yet.</li>
    {% endfor %}
    </ul>
    {% if user == request.user %}
    <p>
        <a href="{% url 'main:new_game' user.id%}">Add new game</a>
    </p>
    {% endif %}
{% endblock content %}