{% extends 'main/base.html' %}

{% block content %}
    <br>
    <h1 class="text-white text-capitalize text-center">{{ user }}'s Games:</h1>
    <br><br>

    <ul class="mx-auto content-center text-center">
    {% for game in games %} 
        <li class="list-item text-white">
            <a href="{% url 'main:game' game.id %}">{{ game.name }}</a>
            <p>{{ game.description|linebreaks }}<br></p>
        </li>
    {% empty %}
        <li class="list-inline-item text-white">You don't have any games yet.</li>
    {% endfor %}
    </ul>
    {% if user == request.user %}
        <p class="text-center">
            <a href="{% url 'main:new_game' user.id%}">Add new game</a>
        </p>
        <p class="text-center text-white"> Rented Games:</p>
        <ul class="mx-auto content-center text-center">
        {% for rent in rentedGames %}
            {% if not rent.returned %}
                <li class="list-item text-white">
                    <a href="{% url 'main:game' rent.game.id %}">{{ rent.game.name }}</a>
                    <p class="text-center">by 
                        <a href="{% url 'users:profile' rent.game.owner.id %}">{{ rent.game.owner }}</a>
                        <a href="{% url 'main:returnGame' rent.id %}">Return Game</a>
                    </p>
                </li>
            {% endif %}
        {% empty %}
            <li class="list-inline-item text-white">You didnt rent any games yet.</li>
        {% endfor %}
        </ul>


    {% endif %}
{% endblock content %}