{% extends 'main/base.html' %}

{% block content %}

    <p>Game: {{ game }}</p>
    <p>Belongs to:  
        <a href="{% url 'users:profile' game.owner.id %}">{{ game.owner }}</a>
    </p>

    {% if game.is_available %}
        <p>The game is available!</p>
        {% if request.user != game.owner %}
            <a href="{% url 'main:rentGame' game.id request.user.id %}">Rent now!</a>
        {% endif%}
    {% else %}
        <p>The game is currently not available!</p>
    {% endif%}

    <p>How does the game work:</p>
    <p>{{ game.description }}</p>

    <p>Added: {{ game.date_added }}</p>
    <p>Last modified: {{ game.date_modified }}</p>

{% endblock content %}