{% extends 'main/base.html' %}

{% block content %}

<p class="text-white">
<p class = "text-white text-center">Game: <a class="text-primary">{{ game }}</a></p>
    <p class = "text-white text-center">Belongs to:
        <a href="{% url 'users:profile' game.owner.id %}">{{ game.owner }}</a>
    </p>

    {% if game.is_available %}
        <p class = "text-white text-center">The game is available!</p>
        {% if request.user != game.owner %}
<div class="col text-center">
<button onclick="window.location.href='{% url 'main:rentGame' game.id request.user.id %}'" type="button" class="btn btn-dark"><a>Rent now!</a></button>





    </div>

          </p>
        {% endif%}
    {% else %}
        <p class = "text-white text-center">The game is currently not available!</p>
    {% endif%}
<br>
    <H5 class = "text-white text-center">How does the game work:</H5>
    <p class = "text-white text-center">{{ game.description }}</p>
<br>
    <p class = "text-white text-center">Added: {{ game.date_added }}</p>
    <p class = "text-white text-center">Last modified: {{ game.date_modified }}</p>

{% endblock content %}