{% extends 'main/base.html' %}

{% block content %}

<p class="text-white">
<p class = "text-white">Game: <a class="text-primary">{{ game }}</a></p>
    <p class = "text-white">Belongs to:
        <a href="{% url 'users:profile' game.owner.id %}">{{ game.owner }}</a>
    </p>

    {% if game.is_available %}
        <p class = "text-white">The game is available!</p>
        {% if request.user != game.owner %}
            <a href="{% url 'main:rentGame' game.id request.user.id %}">Rent now!</a>
        {% endif%}
    {% else %}
        <p class = "text-white">The game is currently not available!</p>
    {% endif%}
<br><br>
    <p class = "text-white">How does the game work:</p>
    <p class = "text-white">{{ game.description }}</p>
<br>
    <p class = "text-white text-center">Added: {{ game.date_added }}</p>
    <p class = "text-white text-center">Last modified: {{ game.date_modified }}</p>

{% endblock content %}